<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeveNotes</title>
    <link href="https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../style.css">
    <link rel="stylesheet" href="../destinations.css">
</head>

<body>
    <!-- HEADER -->
    <header class="header-container">
        <div class="my-name">Katie E. Leverich</div>
        <!-- nav-bar -->
        <nav class="Links">
            <a class="nav-link" href="../../../index.html">Home</a>
            <a class="nav-link" href="components/destinations/destinations.html">ThroughMyEyes</a>
            <a class="nav-link" href="#">Planning</a>
            <a class="nav-link" href="#">About</a>
        </nav>
    </header>
    <!-- writings -->
    <div class="days">
        <h4>Day 8</h4>
        <p>
            Then it was time to say goodbye to our home in Oviedo and ride an overnight bus to Sevilla. That ride was
            quite a treat since there were countless stops all the way down, with each time involving all the lights
            coming on. At midnight they made everyone get off the bus for half an hour. These people and their coffee
            breaks can be quite a nuisance sometimes! Good riddance to overnight bus travel I say.
            <br>
            Unlike Madrid, it only took us an hour to find our hotel. It also helped that I figured out that my phone
            map still shows were we are even without internet or data! It is my new best friend. With our backpacks safe
            and a map in hand, we were able to enjoy the city. Immediately we fell in love. Sevilla is small but has so
            much character. We ventured onto a self guided walk through the Barrio Santa Cruz district. This is where
            all the Jews had to live before they were exiled. Because of that, many of the streets are no more than 3
            feet wide. When I think of Europe, this place is what I picture. You walk down these narrow alleyways in a
            mazelike form as they open up into various plazas. There are flower baskets everywhere hanging off of the
            balconies. The best part about Sevilla is that all the streets are listed in tile on the buildings. It is so
            far one of the easiest cities to navigate with a good map.
            <br>
            We went to the Alcazar, (the Royal Palace) during the free hour. The line got long fast, but we had shown up
            30 min. before so we could be right at the front. At the time, the palace was used for Sevillan royalty;
            each king could add a room to his taste. It was like the largest genealogy chart and built by the Moorish
            people for Christians. My favorite room had the largest tapestries I had ever imagined-it blew my mind how
            someone could weave such intricate details. A lot of the artifacts were of the ocean and the new world.
            Sevilla is where Columbus asked for the funds to make his voyage. After his discovery, it became the center
            for later ships to return with their treasures.
            <br>
            That night it was time to go see what we really came to Sevilla for – A Flamenco show. The girl dancer
            seemed so serious that sometimes it looked like she was throwing a temper tantrum. The male dancer catered
            to the audience and smiled. He made music with his feet, clapping, and snapping. Many times as I watched, it
            was hard to believe that his feet were actually making the sounds I was hearing. His act, though long, was
            in my opinion, way too short. I could have watched him dance all night without every getting bored.
            <br>
            After the show, we wandered the city. Like before, in Spain everyone is out at night. The streets are well
            lit; there are cafes on every corner, making it really enjoyable to walk around. We ended at a crepe shop.
            Memo to self, as good as you may think it sounds; honey is a horrible ingredient for a crepe!
        </p>
    </div>
    <div class="days">
        <h4>Day 9</h4>
        <p>
            Today we visited Sevilla’s cathedral. Immaculate doesn’t even describe it. This cathedral is the third
            largest in Europe, but covers the most land space. The cathedral was a jaw dropping experience. I had to
            keep reminding myself to close my mouth. The choir seats were in the middle with the organ pipes on either
            side. We then turned around to view a tomb of none other than Christopher Columbus. Say what! The tomb is
            carried by 4 statue men representing Leon, Sevilla, and two other towns.
            <br>
            A few years ago, they opened the tomb and tested the DNA with Columbus’s relatives. It came back 95%
            accurate so they’re almost positive it’s him, or at least part of him. (People all over the world claim he
            is buried in their churches as well).
            <br>
            The cathedral had a jewel room with a massive crown. It is the most grandest in all of Spain. One of the
            angel’s on the crown had a torso made out of the biggest pearl in the world. We then ended with climbing the
            Giraldi bell tower. It was 330 feet up to a grand view of the city. The history behind this is my favorite.
            It was built by the Moors. Instead of steps to get to the top, there are ramps. This is so someone could
            ride their horse to the top 5 times a day for the Muslim call to prayer.
            <br>
            When the Christians took over the city (brutally), they changed it to a bell tower and adjoined it with the
            building of the Cathedral. By law, nothing can be taller than the bell tower.

        </p>
    </div>

</body>

</html>