<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <title>LeveNotes</title>
  <meta name="viewport" content="width=device-width initial-scale=1">
  
  <!-- <link rel="preconnect" href="https://fonts.googleapis.com"> -->
  <!-- <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&family=La+Belle+Aurore&display=swap" -->
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../../../style.css">
</head>

<body>

  <!-- HEADER -->
  <header class="header-container">
    <div class="my-name">Katie E. Leverich</div>
    <!-- nav-bar -->
    <nav class="Links">
      <a class="nav-link" href="../../../index.html">Home</a>
      <div class="dropdown">
        <button class="dropbtn">ThroughMyEyes
          <i class="fa fa-caret-down"></i>
        </button>
        <div class="dropdown-content">
          <a href="../Madrid/Madrid.html">Madrid</a>
          <a href="../Sevilla/Sevilla.html"> Sevilla</a>
          <a href="../Oviedo/Oviedo.html">Oviedo</a>
          <a href="../Tarifa-Tangier/Tarifa-Tangier.html"> Tarifa & Tangier</a>
          <a href="../Granada/Granada.html"> Granada</a>
          <a href="../Barcelona/Barcelona.html"> Barcelona</a>
          <a href="../Venice/Venice.html"> Venice</a>
          <a href="../Milan/milan.html"> Milan</a>
          <a href="../Cinque Terre/Cinque Terre.html"> Cinque Terre</a>
          <a href="../Pisa-Lucca/Pisa-Lucca.html"> Pisa & Lucca</a>
          <a href="../Florence-Siena/Florence-Siena.html"> Florence & Siena</a>
          <a href="../Rome/Rome.html"> Rome</a>
          <a href="../sorrento-Amalfi/Sorrento-Amalfi.html"> Sorrento & Amalfi Coast</a>
          <a href="../Pompeii/Pompeii.html"> Pompeii</a>
          <a href="../Naples/Naples.html"> Naples</a>
          <a href="../Albania/Albania.html"> Albania</a>
          <a href="../Corfu/Corfu.html"> Corfu</a>
          <a href="../Hydra/Hydra.html"> Hydra</a>
          <a href="../Athens/Athens.html"> Athens</a>
          <a href="../Paris/Paris.html"> Paris</a>
          <a href="../D-Day/D-Day.html"> D-Day Beaches</a>
          <a href="../London/London.html"> London</a>
          <a href="../Dublin/Dublin.html"> Dublin</a>


        </div>
      </div>
      <a class="nav-link" href="#">Planning</a>
      <a class="nav-link" href="#">About</a>
    </nav>
  </header>
        <!-- writings -->
        <div>
            <h3>Dublin</h3>
        </div>
        <div class = "construction-img">
            <img class = "construction " src="../../../assets/800px-Page_Under_Construction.png" alt="This page is under construction">
        </div> 
           
         
        
</body>
</html>