body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.header-wrapper {
    height:140px;
    display: flex;
    flex-direction: column;
}

.Links {
    display:grid;
    grid-template-columns: repeat(3, 1fr);
    border: solid;
    height:50px;
    background-color: #E2D8B4;
    color: #65897C;
}

.link-wrapper {
    display: flex;
    justify-content: space-around;
}
.center-column {
    display: flex;
    background-image: url('assets/british-library-AxT4iYcoI2M-unsplash.jpg');
    background-size: contain;
    height: 500px;
    background-repeat: no repeat;
    justify-content: center;
    
}
.header-styles {
padding-bottom: 1000px;
margin-bottom: 1000px;
}
.title {   
    font-size: 100px;
    font-family: 'sacramento', sans-serif;
}

.main-section {
    display: flex;
}