<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeveNotes</title>
    <link href="https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../../style.css">
    <link rel="stylesheet" href="../destinations.css">

</head>

<body>
    <!-- HEADER -->
    <header class="header-container">
        <div class="my-name">Katie E. Leverich</div>
        <!-- nav-bar -->
        <nav class="Links">
            <a class="nav-link" href="../../../index.html">Home</a>
            <a class="nav-link" href="components/destinations/destinations.html">ThroughMyEyes</a>
            <a class="nav-link" href="#">Planning</a>
            <a class="nav-link" href="#">About</a>
        </nav>
    </header>
    <!-- writings -->
    <div class="days">
        <h4>Day 1</h4>

        <p>
            We stayed in Milan for one night. It is a very busy city, kind of like New York. Our purpose here was to see
            the painting of "the last supper" the next day. To pass the time, we went to the main square and saw the
            city's cathedral. The big thing at this one is high up on the alter is a red light where a nail is placed.
            They claim it to be one of the nails driven into Jesus's hands. You really can only see the red light though
            as it is so high up. There's also two tombs of cardinals. The creepy thing is that they are made of glass so
            you can see the bodies. I didn't have to look at the tombs for too long.
            For dinner we found a cafeteria. I didn't recognize the names of any of the dishes so I guessed and ordered
            and hoped for the best. Turns out I ordered shrimp and rice. Not beautiful since I don't eat fish-but Trent
            was good and switched me for his pasta dish. He then pulled out our dictionary and looked up all the words
            for fish so I wouldn't make that mistake again.
            The next morning was crazy, we packed our bags, left them in the luggage area at the hotel, and ran out to
            catch a metro. Of course it had to be raining, the hotelier said it was unusual as they never get rain. But
            rain couldn't stop us today. Once we got off the metro, we were completely lost. No matter how many streets
            we looked at, we could not orient ourselves on the map with where we needed to be. Time was running out. Our
            reservation for "the last supper" was set for 9:30am and we had to pick up the tickets 20 min before or else
            they would give our spot away to someone else. Finally we found the street we needed to be on, gave up on
            holding the umbrella, and swam through the rain.
            With a few more wrong turns we got to the church, waited our turn to get our tickets, and looked down at a
            sign saying we were at the wrong entrance. So out in the rain we flew to the actual entrance. We were quite
            the sight as we were drenched from head to toe but flinging our jackets off as we sweated profusely. It was
            9:25 and I just knew we were too late. I walked up to the ticket window, said my name, and prepared to be
            told that our spot was gone. To my utter shock, he handed me two tickets and pointed us where to go. Good
            thing we were seeing the last supper, not the first supper or we would have totally missed it!
            Ok I learned some really cool things about this painting that I just have to share. In the room, you get 15
            minutes then swiftly ushered back out. We had an English guide tell us about the painting by Leonardo da
            Vinci. It was incredible. She told us about the history and how it survived the bombs and raids of WWII. She
            told us about the technique da Vinci used. Though the paint he used began to fade in just 7 years, he chose
            this particular paint as it could be worked with over a longer period of time. Da Vinci needed to take his
            time, to really mold the picture the way he felt it needed to be portrayed. The guide specifically pointed
            out the apostle judas. Before this piece, judas was always painted on the other side of the table as if to
            say that he was foreordained to betray Jesus, but Leonardo put him on the same side, so as to say he still
            had free agency. We are not destined to any fault without going through our free choice. The guide also
            pointed our Jesus's stance. The interesting thing is on the opposite side of the room is a painting of the
            crucifixion. Jesus's hands are outstretched in both the Last Supper and the crucifixion. Even though his
            feet are now cut out of the picture, history tells us that his feet were painted one on top of the other, in
            the same position on the cross signifying his knowledge of what is to come. I could not stop staring at this
            art piece. Before it was just a familiar picture I had seen over and over, now it is more than that to me.

        </p>
    </div>
</body>

</html>