<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeveNotes</title>
  <!--my name-->
  <link href="https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap" rel="stylesheet">
    <!-- arrow for dropdown -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../style.css">
    <link rel="stylesheet" href="../destinations.css">
</head>

<body>
    <!-- HEADER -->
    <header class="header-container">
        <div class="my-name">Katie E. Leverich</div>
        <!-- nav-bar -->
        <nav class="Links">
          <a class="nav-link" href="../../../index.html">Home</a>
          <div class="dropdown">
            <button class="dropbtn" onclick="document.location='../../throughmyeyes.html'">ThroughMyEyes
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="../Madrid/Madrid.html">Madrid</a>
              <a href="../Oviedo/Oviedo.html">Oviedo</a>
              <a href="../Sevilla/Sevilla.html"> Sevilla</a>
              <a href="../Tarifa-Tangier/Tarifa-Tangier.html"> Tarifa & Tangier</a>
              <a href="../Granada/Granada.html"> Granada</a>
              <a href="../Barcelona/Barcelona.html"> Barcelona</a>
              <a href="../Venice/Venice.html"> Venice</a>
              <a href="../Milan/milan.html"> Milan</a>
              <a href="../Cinque Terre/Cinque Terre.html"> Cinque Terre</a>
              <a href="../Pisa-Lucca/Pisa-Lucca.html"> Pisa & Lucca</a>
              <a href="../Florence-Siena/Florence-Siena.html"> Florence & Siena</a>
              <a href="../Rome/Rome.html"> Rome</a>
              <a href="../Pompeii/Pompeii.html"> Pompeii</a>
              <a href="../sorrento-Amalfi/Sorrento-Amalfi.html"> Sorrento & Amalfi Coast</a>
              <a href="../Naples/Naples.html"> Naples</a>
              <a href="../Albania/Albania.html"> Albania</a>
              <a href="../Corfu/Corfu.html"> Corfu</a>
              <a href="../Hydra/Hydra.html"> Hydra</a>
              <a href="../Athens/Athens.html"> Athens</a>
              <a href="../Paris/Paris.html"> Paris</a>
              <a href="../D-Day/D-Day.html"> D-Day Beaches</a>
              <a href="../London/London.html"> London</a>
              <a href="../Dublin/Dublin.html"> Dublin</a>
    
    
            </div>
          </div>
          <a class="nav-link" href="#">Planning</a>
          <a class="nav-link" href="#">About</a>
        </nav>
      </header>
        <!-- writings -->
        <div>
          <h3>Granada</h3>
      </div>

    <div class="days">
        <h4>Day 12</h4>
        <p>
            Our hotel, or rather pension, was an ideal location. It was on the road you have to climb to get to the
            Alhambra, Granada’s main attraction, which was the final palace that the Moors had before the Sultan lost
            the war and in 1492 and got kicked to Africa by King Ferdinand. There is also a royal chapel where King
            Ferdinand and Queen Isabel’s tombs are. It’s kind of weird and cool at the same time to see the final
            resting place of two people who had an enormous impact on Spain.
            <br>
            Unfortunately I forgot to buy tickets early enough. So at 6:45 am we high tailed it up the hill to the
            ticket window in the rain. They don't open til 8am. We thought we beat the crowd by getting here so early
            but we ended up being 4th in line. That's fine by me. The line got so long so fast. They only sell so many
            tickets as same day so had arrived later, we might not have gotten in.
            <br>
            Because we were tired and it was pouring rain, we scheduled our tickets for the afternoon. It felt amazing
            to have tickets. We danced and sang all the way down the hill to our hotel where we took in a much needed
            nap. Then it was time to check out of our hotel. They were kind enough to store our bags for the day. With a
            few more hours to spare, we got lost on the other side of town in the Albazin, literally.
            <br>
            This part of town is where many of the moors had lived. Now it is where the hippies and gypsies reside along
            with their countless dogs. Nobody cleans up after their animals, which leads to a very unfortunate day if
            you don’t watch where you are stepping-we didn’t step in anything but did manage to get quite lost. After
            help from the locals, we reached the San Nicholas church. Here is the best view of the Alhambra. The place
            is massive and by viewing it from here just made me all the more excited to go see it.
            <br>
            Next to the church is a Muslim mosque. I think it is pretty neat that after having been kicked out, later
            generations are able to have a mosque once again in this city. Instead of getting lost on our way down, we
            chose to take the minibus. The streets here are so skinny that at times it was a hair raising experience as
            we just barely squeezed past corners and other cars. It was pretty fun that we wanted to ride it all the way
            around and once again back down. Bad idea!
            <br>
            Once we got back to the bus stop we had originally started at, the bus driver started yelling at us that we
            had to get off. In spite of this embarrassment, half the bus was telling us to stay on and the other half
            siding with the bus driver. We teetered back and forth, when the doors all of the sudden closed, we were
            still on. The bus went about 100 feet and stopped again. Oh those crazy Americans! I think this time the
            side that had been telling us to stay on decided it was best we go, which we were more than happy to do!
            <br>
            Luckily a local got off too and showed us how to get out of the Albazin. She was from England and kept
            calling the people on the bus “old blokes”. Needless to say, I think we are better metro people than bus
            people.
            <br>
            With one final hike up the hill on the other side, it was our time to enter the Alhambra. Our first stop was
            the Palacios Nazaries. This is where the Sultan and royalty lived. Incredible is an understatement. It was
            more than that. Though much of the color is faded or gone to white, it must have been ornate. I wish I could
            have just stood still and made time go back 500 years.
            <br>
            Water was considered holy and was ever present throughout the fortress. In the middle of one of the enclosed
            patios was a fountain like bowl held up by 12 lions signifying probably the 12 tribes of Israel as it had
            been a gift from a Jewish leader. For hundreds of years, one lion would spout water each hour. Then some
            Christians took it apart to see how it worked. They couldn’t figure it out and since then it hasn’t worked
            properly. (If it ain’t broke, don’t fix it.)
            <br>
            Next was the Charles V palace. Once Christians overtook this place, as if the Moorish palace wasn’t good
            enough for him, he built his own larger structure next to it. And that’s pretty much all it was – just a
            large structure in my eyes, not much else to look at. At the time, many of the mosques in Spain were
            restructured into Christian churches, as if to not only take over the land, but rub your nose in it too by
            replacing one’s place of worship with your own. So it’s probably good that Charles V felt the need to have a
            new palace so the old one was left alone.
            <br>
            The Alcazaba was the fortress where people could come live, when the city was under attack. It was cool with
            lots of defensive towers. The wind started to pick up, so we hurried through the general life, which was the
            Sultan’s garden and summer home. Everything was magnificent. We spent 5 hours and never got bored. It was
            fun to spend so much time to take in the finale of what started in Covadonga when Christians started to push
            back the moors and ultimately kick the sultan out of Spain from here. Spending a whole week on Spanish
            history by actually going to the sites was probably one of my favorite history classes.
            <br>
            Down the hill we grabbed our bags and headed back to the train station. Then the rain came-and it came hard.
            Unfortunately, we couldn’t camp out in a doorway like the rest of town, as we had a train to catch. There
            were water and puddles everywhere. But we were heading to something amazing. Our train was an overnight
            ride. I had debated for weeks if it was worth the ridiculously high price more to get a sleeper cabin, than
            just a chair. But since we could fit it into our budget, we thought why not? Best decision ever! First class
            baby. As we reached the station, we were completely soaked.
            <br>
            Everyone needs to try this type of transportation at least once in their lifetime. Our compartment had a
            bunk bed and a bathroom-yes people a full on bathroom with a shower! Trying to surf as the train jolted down
            the track was probably one of the funnest shower experiences I've ever had. The best part of the whole
            experience was waking up well rested in Barcelona without ever having lost time to a travel day

        </p>

    </div>
</body>

</html>