<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeveNotes</title>
  <!--my name-->
  <link href="https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap" rel="stylesheet">
    <!-- arrow for dropdown -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- LeveNotes -->
  <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&family=La+Belle+Aurore&display=swap">
    <!-- footer arrow -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v6.1.1/css/all.css">
  
  <link rel="stylesheet" href="../../../style.css">
    <link rel="stylesheet" href="../destinations.css">
</head>

<body>
    <!-- HEADER -->
    <header class="header-container">
        <div class="my-name">Katie E. Leverich</div>
        <!-- nav-bar -->
        <nav class="Links">
          <a class="nav-link" href="../../../index.html">Home</a>
          <div class="dropdown" onclick="document.location='../../throughmyeyes.html'">
            <button class="dropbtn">ThroughMyEyes
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="../Madrid/Madrid.html">Madrid</a>
              <a href="../Oviedo/Oviedo.html">Oviedo</a>
              <a href="../Sevilla/Sevilla.html"> Sevilla</a>
              <a href="../Tarifa-Tangier/Tarifa-Tangier.html"> Tarifa & Tangier</a>
              <a href="../Granada/Granada.html"> Granada</a>
              <a href="../Barcelona/Barcelona.html"> Barcelona</a>
              <a href="../Venice/Venice.html"> Venice</a>
              <a href="../Milan/milan.html"> Milan</a>
              <a href="../Cinque Terre/Cinque Terre.html"> Cinque Terre</a>
              <a href="../Pisa-Lucca/Pisa-Lucca.html"> Pisa & Lucca</a>
              <a href="../Florence-Siena/Florence-Siena.html"> Florence & Siena</a>
              <a href="../Rome/Rome.html"> Rome</a>
              <a href="../Pompeii/Pompeii.html"> Pompeii</a>
              <a href="../sorrento-Amalfi/Sorrento-Amalfi.html"> Sorrento & Amalfi Coast</a>
              <a href="../Naples/Naples.html"> Naples</a>
              <a href="../Albania/Albania.html"> Albania</a>
              <a href="../Corfu/Corfu.html"> Corfu</a>
              <a href="../Hydra/Hydra.html"> Hydra</a>
              <a href="../Athens/Athens.html"> Athens</a>
              <a href="../Paris/Paris.html"> Paris</a>
              <a href="../D-Day/D-Day.html"> D-Day Beaches</a>
              <a href="../London/London.html"> London</a>
              <a href="../Dublin/Dublin.html"> Dublin</a>
    
    
            </div>
          </div>
          <a class="nav-link" href="#">Planning</a>
          <a class="nav-link" href="#">About</a>
        </nav>
      </header>
        <!-- writings -->
        <div>
          <h3>Tarifa & Tangier</h3>
      </div>
    <div class="days">
        <h4>Day 9</h4>
        <p>
            It was then time to the bus station. On the bus we met 2 sisters and a couple backpacking down to Tarifa as
            well. It was nice to see them get off the bus and look lost as well. You don’t feel so touristy when
            everyone is pulling their maps out also. Our apartment was very easy to find. It also helped that Tarifa is
            a very small beach town with only two main roads.
            <br>
            We walked around the beach and out onto a boardwalk with the Atlantic Ocean on one side and Mediterranean on
            the other until dinner time. Unfortunately since this is Spain, no one would feed us at 7 so we had to wait
            till 8 for the restaurant to open.

        </p>
    </div>
    <div class="days">
        <h4>Day 10</h4>
        <p>
            The next morning it was off to Tangier, Morocco. A stamp on your passport from Africa is total bragging
            rights. But to get there, we first had to go through a storm on the Gibraltar Straight. Neither of us got
            sea sick, but people all around us were throwing up/passing out. It was quite a scene as the boat swayed
            back and forth. I now have a greater appreciation for my ancestors who crossed the Atlantic by boat. Our
            ride was only an hour but that was plenty for us.
            <br>
            Then again I think it would have been better to stay on the boat than walk into the mob of "tour guides" we
            were about to encounter. The tourist industry in Tangier is massive because of all the kickbacks your guides
            expect to get from the shopping you do. We had already booked a tour so they didn't bother us too bad. The
            couple we had met earlier wasn’t doing a tour so they were a huge target. Every time we saw them, they were
            being pestered right and left.
            <br>
            Fusa, our tour guide took us in her car to view the outskirts of Medina. She told us a lot about what we
            were seeing, but wasn’t too apt for answering questions. We saw the Michael Forbes house (or rather drove
            by), Barbara Hudson house, and where the king of Morocco stays when he visits. Then my favorite part-we rode
            camels! I was so excited to get on one that I forgot to talk price before hand. That 15 minute ride cost us
            5 Euros each. Oh well, as the travelers say – good judgment comes from experience, experience comes from bad
            judgment.
            <br>
            After, we went back into town for lunch, which was a little weird since we were used to lunch at 2 or 3 and
            it was only 11. We were the only ones in the restaurant as all the other tour groups showed up near the end
            of our meal. There was a Moroccan band of 4 men that played while we ate. One of the men was so fun to watch
            as he would get all happy when he saw us watching and play louder. Of course he was doing this for tips. He
            only got a few Euros out of us. We should have just worn a sign that said “we’re poor college students. Good
            luck getting any money from us.”
            <br>
            The last part consisted of walking through the medina streets with vendors shoving things in your face
            saying "I give you good price!" We managed to get out of that haunted house they call "shopping" alive and
            manage to only buy a spoon. Because our tour guide gets kickbacks for everything we buy, she wasn't too
            happy with us. At the end she just flat out would ignore us and walk really fast. I wouldn't be surprised if
            she was trying to lose us. We were determined to stay with her until our ferry dock came in sight.
            <br>
            I thought this was a great adventure; Trent on the other hand couldn't be more excited to get back to Spain.

        </p>

    </div>
    <div class="days">
        <h4>Day 11</h4>
        <p>
            As usual, the next morning we got our workout on with our backpacks to the bus stop. Funny how the only time
            you see us running is when we have all our gear on. I call it a great form of a workout plus you get to get
            your heart racing too out of fear of missing the bus. Trent calls it - my wife enjoys her sleep too much- ok
            ok I'll try to get better at being ready on time so I don't give him a heart attack every time we move.
        </p>
    </div>

</body>
<footer class=arrows>
  <div class="left-column">
    <div class="footer-styles">
      <a href="../Sevilla/Sevilla.html">Sevilla</a>
    </div>
    <div class="icon">
      <i class="fa-solid fa-arrow-left-long fa-2x"></i>
    </div>
  </div>
  <div class="right-column">
    <div class="icon">
      <i class="fa-solid fa-arrow-right-long fa-2x"></i>
    </div>
    <div class="footer-styles">
      <a href="../Granada/Granada.html">Granada</a>
    </div>
  </div>
</footer>

</html>