.days {
    display: flex;
    flex-wrap: wrap;
font-size: 20px;
margin: 20px;
padding: 20px;
border: solid;
border-radius: 20px;
color: #65897C;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a {
    color: #65897C;
 
}
h4 {
    font-size: 1.5em;
    color: #524B44;
}

p {
    color: #524B44;
}

.arrows {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:30px;
    margin: 40px;
    background-color: #ebb4a3;
    font-family: 'La Belle Aurore', cursive;
    margin: 0;
}

.left-column {
    display: flex;
    flex: row;
    justify-content: flex-start;
    font-size: 50px;
    padding-right: 150px;
}

.right-column {
    display: flex;
    flex: row;
    justify-content: flex-end;
    font-size: 50px;
    padding-left: 400px;
}
.icon {
    display: flex;
    align-items: center;
    padding: 10px;
    color: #65897C;
}

.footer-styles {
    font-size: 50px;
    align-items: center;
    padding-top: 20px;
}

.about {
    display: flex;
    flex-direction: row;
font-size: 20px;
margin: 20px;
padding: 20px;
border: solid;
border-radius: 20px;
color: #65897C;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.us {
    border-radius: 10px;
    height: 300px;
    width: 350px;
}

.about-summary {
    font-size: 30px;

}