<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeveNotes</title>
  <!--my name-->
  <link href="https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap" rel="stylesheet">
    <!-- arrow for dropdown -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- LeveNotes -->
  <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&family=La+Belle+Aurore&display=swap">
    <link rel="stylesheet" href="../../../style.css">
    <link rel="stylesheet" href="../destinations.css">

</head>

<body>
    <!-- HEADER -->
    <header class="header-container">
        <div class="my-name">Katie E. Leverich</div>
        <!-- nav-bar -->
        <nav class="Links">
          <a class="nav-link" href="../../../index.html">Home</a>
          <div class="dropdown">
            <button class="dropbtn">ThroughMyEyes
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="../Madrid/Madrid.html">Madrid</a>
              <a href="../Oviedo/Oviedo.html">Oviedo</a>
              <a href="../Sevilla/Sevilla.html"> Sevilla</a>
              <a href="../Tarifa-Tangier/Tarifa-Tangier.html"> Tarifa & Tangier</a>
              <a href="../Granada/Granada.html"> Granada</a>
              <a href="../Barcelona/Barcelona.html"> Barcelona</a>
              <a href="../Venice/Venice.html"> Venice</a>
              <a href="../Milan/milan.html"> Milan</a>
              <a href="../Cinque Terre/Cinque Terre.html"> Cinque Terre</a>
              <a href="../Pisa-Lucca/Pisa-Lucca.html"> Pisa & Lucca</a>
              <a href="../Florence-Siena/Florence-Siena.html"> Florence & Siena</a>
              <a href="../Rome/Rome.html"> Rome</a>
              <a href="../Pompeii/Pompeii.html"> Pompeii</a>
              <a href="../sorrento-Amalfi/Sorrento-Amalfi.html"> Sorrento & Amalfi Coast</a>
              <a href="../Naples/Naples.html"> Naples</a>
              <a href="../Albania/Albania.html"> Albania</a>
              <a href="../Corfu/Corfu.html"> Corfu</a>
              <a href="../Hydra/Hydra.html"> Hydra</a>
              <a href="../Athens/Athens.html"> Athens</a>
              <a href="../Paris/Paris.html"> Paris</a>
              <a href="../D-Day/D-Day.html"> D-Day Beaches</a>
              <a href="../London/London.html"> London</a>
              <a href="../Dublin/Dublin.html"> Dublin</a>
    
    
            </div>
          </div>
          <a class="nav-link" href="#">Planning</a>
          <a class="nav-link" href="#">About</a>
        </nav>
      </header>
        <!-- writings -->
        <div>
          <h3>Oviedo</h3>
      </div>
    <div class="days">
        <h4>Day 3</h4>
        <p>In the morning we packed up and headed to our bus for Oviedo. The scenery is absolutely breathtaking.
            I’m sure everyone around us thinks we are those ridiculous tourists who won’t put the camera away.
            Oviedo doesn’t have foreign tourists, so Spanish is the only language we could use.
            When I was in college I did a study abroad here for a month. We came here to visit my former host, Nieves.
            She also introduced us to her two friends, Pepita and Sole. These three became our hosts for the next 5
            days.
            <br>
            Pepita picked us up from the bus station. She asked if I had been practicing Spanish and I told her no, so
            we kept the conversation on simple words.
            We had another yummy chocolate con churros and met our hostess Sole.
            Sole is so cool-she is very easy going and very nice. She took us to the apartment we’d be staying at.
            <br>
            They have a very hard time saying the word “Trent” so first they called him Trench, but now they call him
            Tres.
            This makes it very confusing when trying to follow the conversation because I don't know if they are saying
            Trent or the number three.
            Dinner with Nieves, Pepita, and Sole was fabulous because they could order the food for us.
            They call it pinchos (basically a bunch if hors d’oeuvres that everyone around the table shares).
        </p>
    </div>
    <div class="days">
        <h4>Day 4</h4>
        <p>
            It has been raining nonstop since we got here.
            We went to the Auditorio Principe Felipe to watch an orchestra concert-The Orchestra of Oviedo and two
            famous Spanish singers.
            The difference being, at the end in the U.S. you would stand up and applaud for an encore.
            Here it is the opposite. You stay seated and clap-but there were 3 encore pieces.
            (I may have taken a nap during one of the pieces.) After we went for tapas. The culture here is to drink a
            lot of coffee.
            Likewise Trent and I are getting very good at ordering fanta limon and naranja, agua, and chocolate con
            churros when we stop at cafes.
            We're also getting very good at spotting all the bathrooms too.
        </p>
    </div>
    <div class="days">
        <h4>Day 5</h4>
        <p>
            Today was a very busy day. Sole and Pepita took us for an all day drive to see the rest of Austurias.
            Austurias is like a state in Spain and Oviedo is the capital.
            <br>
            We started at noon with coffee for them and drove to Congas de Onis. This was the first government city for
            Austurias. There is an old bridge here that has the Alpha and Omega symbols. All throughout Austurias, they
            are very proud of their Catholic heritage. This is because the Moorish people never conquered this area
            because it is protected by mountains.
            <br>
            One thing about the drive, the area is very beautiful. They believe in working with the land, not exploiting
            it. We drove through many tunnels in the mountains. They build the road through, not around so the landscape
            looks natural. The highways blend in so well that sometimes it is hard to spot them out. One tunnel even
            goes under a river. Sole says it’s because the ecologist didn’t approve of a bridge going over.
            <br>
            After a coffee break, we went to Covadonga. This town has a basilica and a church built into a cave. If I
            remember right, this is the place they say that Saint Mary came and threw rocks down on the Moorish army,
            and this is the spot that the Spanish Christians started to gain their land back. But the thing I was most
            excited about - there is a fountain with 12 spouts and the story is if you drink from it, (which I did last
            time I was here), then you'll get married in a year. Hence why I scored Trent so fast. I think Trent liked
            to see where the spell had been cast on him!
            <br>
            Our next stop was Ribadesella-our first matter of business-coffee! And three o’clock lunch. We then toured
            Covadonga. There is a Capilla (a small church) at the top of a hill where you can see the city and the sea.
            We got some great pictures there. And I know Trent loved his ocean view. Then it was down the hill and onto
            another cup of coffee. No wonder people here never look tired.
            <br>
            Our three hosts are so great to us. They keep paying for our food even though we try to pay. The last coffee
            break Trent was determined to pay. We ate outside so after we got our drinks, Trent went in pretending to go
            to the bathroom, but Pepita followed him in. A few minutes later he came back out with the saddest defeated
            face I've ever seen and said "Pepita habla espanol y yo no hablo espanol". Looks like we lost out on another
            chance to pay the bill.
            <br>
            We then got in the car and saw probably one of the coolest natural formations. Nearby there is a cave that
            goes all the way through a mountain. It was formed by a river. Now they built a rode so you can actually
            drive through it. So cool! Last we stopped at Lastres where Pepita’s husband is buried.
            <br>
            Roads in the countryside are very narrow and barely ideal for one car. But everyone likes to drive fast, so
            when you make a turn around the corner, you just honk to alert any other car coming the opposite direction.
            Our drives consisted of much honking intertwined with abrupt halts every so often when we encountered other
            cars.
            <br>
            After an 8 hour tour we were back at our apartment. We enjoyed seeing much of the countryside but were
            exhausted. With it being a Friday-we still had to go out, the nightlife is great here. We walked around the
            city and ate a few Tapas. It’s a prideful moment every time we successfully order food on our own. Typically
            nightlife starts at 9 or 10 and people stay up til 3,4 or 5 am. We lasted til 11 and called it quits. The
            lifestyle here is to wake up at 10 or 11am and stay out way later. It’s any teenagers dream. Even little
            kids stay out late.

        </p>
    </div>
    <div class="days">
        <h4>Day 6</h4>
        <p>
            We took a bus to see Gijon for a few hours. Nieves said it was only a 20 min. ride. Unfortunately, we
            somehow managed to get on the bus that stops at EVERY LITTLE TOWN between Oviedo and Gijon. At first it was
            frustrating, and then we just laughed as we would cross the freeway, not to get on for a straight shot, but
            to head into another little town. About an hour later, we peaced out from the bus and were at Gijon. Finally
            at the beach, it was very relaxing to just watch the waves crash on the shore. But too soon it was time to
            go. We made sure to catch the direct bus on our way home – a truly 20 min. ride.
            <br>
            Earlier that day, there was an old fashion Austurias market. Everyone was dressed in costumes and they were
            selling things you would have seen one hundred years ago. There were people everywhere-maybe it was a
            holiday, but I’m not really sure. It’s funny how as a tourist you really don’t know what is going on. It’s
            that ignorance that seems to make you feel ok walking past graffiti walls-because for all you know, this
            could be the safest part of town.

        </p>
    </div>
    <div class="days">
        <h4>Day 7</h4>
        <p>
            Being Sunday, we headed off to church. Now let me deviate to how people dress here. Let’s just say that
            today was the only day that we slightly looked like we blended in. People dress top notch here. Even the
            children do. I have yet to see a little girl under the age of 3 in nothing less than a dress. As Trent put
            it-and it’s pretty accurate “Where are all the babies in Tuxedos going?”
            <br>
            We bought flowers for Nieves, Pepita, and Sole from the market as today is mother’s day. We got in Pepita’s
            car and drove to Sole’s house. Sole lives in the countryside in a house with her mother. We had lunch
            outside. It was awesome! We felt so comfortable like we were locals.
            <br>
            Ok now for a time that really got lost in translation. Pepita asked me if I wanted a banana –yes! Then they
            asked if we wanted to go on a walk- so now I'm thinking we have to walk to the banana. Next thing we know
            they are bringing out hiking shoes and straw hats for us. (I guess our get up wasn't good enough to chance
            upon this enchanting banana tree). Anyway so then come out the walking sticks and we start climbing straight
            up the mountain into a dried up mud slide. We climbed for 30 minutes to nothing turned around and hiked back
            down-at the end Trent and I couldn't stop laughing at whatever we had just agreed to and still no banana!
            <br>
            We then drove back to the city to Nieves' house. And guess what was waiting for us there? Bananas! What a
            fabulous reward for our confusion.

        </p>
    </div>

</body>

</html>