<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LeveNotes</title>
  <!--my name-->
  <link href="https://fonts.googleapis.com/css2?family=La+Belle+Aurore&display=swap" rel="stylesheet">
  <!-- LeveNotes -->
  <link href="https://fonts.googleapis.com/css2?family=Homemade+Apple&family=La+Belle+Aurore&display=swap"
    rel="stylesheet">
    <!-- arrow for dropdown -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../style.css">
    <link rel="stylesheet" href="../destinations.css">
</head>

<body>
    <!-- HEADER -->
    <header class="header-container">
        <div class="my-name">Katie E. Leverich</div>
        <!-- nav-bar -->
        <nav class="Links">
          <a class="nav-link" href="../../../index.html">Home</a>
          <div class="dropdown">
            <button class="dropbtn" onclick="document.location='../../throughmyeyes.html'">ThroughMyEyes
              <i class="fa fa-caret-down"></i>
            </button>
            <div class="dropdown-content">
              <a href="../Madrid/Madrid.html">Madrid</a>
              <a href="../Oviedo/Oviedo.html">Oviedo</a>
              <a href="../Sevilla/Sevilla.html"> Sevilla</a>
              <a href="../Tarifa-Tangier/Tarifa-Tangier.html"> Tarifa & Tangier</a>
              <a href="../Granada/Granada.html"> Granada</a>
              <a href="../Barcelona/Barcelona.html"> Barcelona</a>
              <a href="../Venice/Venice.html"> Venice</a>
              <a href="../Milan/milan.html"> Milan</a>
              <a href="../Cinque Terre/Cinque Terre.html"> Cinque Terre</a>
              <a href="../Pisa-Lucca/Pisa-Lucca.html"> Pisa & Lucca</a>
              <a href="../Florence-Siena/Florence-Siena.html"> Florence & Siena</a>
              <a href="../Rome/Rome.html"> Rome</a>
              <a href="../sorrento-Amalfi/Sorrento-Amalfi.html"> Sorrento & Amalfi Coast</a>
              <a href="../Pompeii/Pompeii.html"> Pompeii</a>
              <a href="../Naples/Naples.html"> Naples</a>
              <a href="../Albania/Albania.html"> Albania</a>
              <a href="../Corfu/Corfu.html"> Corfu</a>
              <a href="../Hydra/Hydra.html"> Hydra</a>
              <a href="../Athens/Athens.html"> Athens</a>
              <a href="../Paris/Paris.html"> Paris</a>
              <a href="../D-Day/D-Day.html"> D-Day Beaches</a>
              <a href="../London/London.html"> London</a>
              <a href="../Dublin/Dublin.html"> Dublin</a>
    
    
            </div>
          </div>
          <a class="nav-link" href="#">Planning</a>
          <a class="nav-link" href="#">About</a>
        </nav>
      </header>
        <!-- writings -->
        <div>
          <h3>Madrid</h3>
      </div>
    <div class="days">
        <h4>Day 1</h4>
        <p>
            We landed in Madrid at 9am, but our transatlantic flight was only 8 eight hours.
            Welcome to jetlag! When you encounter this, your body gets so mad. It feels like your stomach is just eating
            itself.
            We de-planed with the attitude of here goes nothing! My stomach settled a little when we got our bags safe
            and knew that they hadn’t gotten lost in transit.
            I’m sure we were both a little nervous to leave the airport because we visited every kiosk and the bathroom.
            But finally it was time to see if we could find our apartment. Trent and I both had a bad case of paranoia.
            We probably looked like deer in the headlights thinking everyone was out to snag our bags.
            <br>
            The bus took us from the airport to Atocha train station. Just finding the bus was a treat.
            It’s one thing to be lost. It’s another to have no idea how to ask someone in their language where to find
            what you’re looking for.
            I’m just glad we came to Madrid first where I kind of know the language. We took the metro to the street of
            our apartment.
            Even after the metro it still took us a good half hour to locate our apartment.
            The streets are very bizarre here and we were wandering on the one next to the one we needed.
            Our apartment is on the fifth floor and the ground floor doesn’t count.
            Don’t worry, there is no elevator. When we got to the top, we were so tired and debated if we just wanted to
            stay cooped up here for the next three days.
            <br>
            But, with our big backpacks off, we thought we should go explore the city instead.
            Big mistake! We should have taken a nap to recoup from jetlag instead. We thought we’d be fine.
            Boy, were we wrong! And worse, we thought going to an art museum would be a novel idea.
            <br>
            The <b><a target="_blank" href="https://www.museoreinasofia.es/">Reina Sofia</a></b> houses Picasso
            paintings-the most famous being his <b><a target="_blank"
                    href="https://www.museoreinasofia.es/en/collection/artwork/guernica">Guernica.</a></b>
            There was a big glass elevator to floor two-as if my head wasn’t already spinning.
            Each painting was given minimal time-basically look at it long enough before your knees buckle, or you sway
            to one side-much of that credit goes to jetlag.
            Finally we found Picasso’s Guernica. I must say it was so much bigger than I had imagined.
            It took up an entire room. This painting was the exception to the ‘one knee buckle and move on’. Trent and I
            had to lean on each other a few times just so we could stay longer to admire it.
            <br>
            After this, we were one floor down, one to go. We tried really hard to enjoy the floor, but exhaustion won
            out.
            We designated this floor to “museum walking” (kind of like mall walking).
            We took the stairs as I don’t think we could have handled another elevator ride.
            By the time we reached the ground level, we were positive we looked like we were drunk.
            A beeline for our apartment was definitely the best choice.
            We thought it best to stop at the supermarket before climbing the 5 flights to hibernate.
            Buying food is great because you really don’t know what you are getting.
            <br>
        </p>
    </div>
    <div class="days">
        <h4>Day 2</h4>
        <p>
            I introduced Trent to a jamon sandwich.
            He loves jamon now! It’s kind of like ham-but you just can/’t describe it well without tasting it for
            yourself.
            We then went to the <a target= "_blank" href="https://www.patrimonionacional.es/en/visita/royal-palace-madrid">Royal Palace and Cathedral.</a> 
            They were huge! And very impressive. Though royalty does not live there, they still use it for special
            occasions.
            (I wish I had a royal palace to use at my disposal). After, it was siesta time!
            I do love a good power nap.
            <br>
            <a target="_blank" href="https://www.museodelprado.es/">El Prado</a> was our final museum for Madrid.
            We went when it was free in the evening. This was perfect for us, because not knowing much about art.
            I don’t know how we would manage more than a few hours.
            We saw Rembrandt and Diego Velasquez. The most impressive thing to me about art museums is how big each
            painting is.
            And as canvas I imagine is not cheap, it makes sense why most paintings are of royalty and Christianity.
            On our way back we stopped at a restaurant for Chocolate con churros. It was heavenly.
            And now Trent understands why I rave about it so much.
            <br>
            Spaniards eat late, like around nine until well in the evening.
            The cheapest way to eat is called Tapas. It is a slice of something.
            The idea is you hop from bar to bar eating Tapas and drinking. The longer you stay out, the more lively it
            gets.
            We don’t drink, but enjoyed hopping for Tapas. By 11:00, left over jetlag got to us so we went back to our
            apartment.
            Most locals easily stay out til 1 am or 2am
            <br>
        </p>

    </div>
    
</body>

</html>